<!DOCTYPE html>
<html>
<head>
    <title>Configuring DataGrid</title>
    <meta charset="utf-8" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <![endif]
    <!--[if gte IE 9]><!-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--<![endif]-->
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js"></script>
    <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/15.1.13/js/dx.webappjs.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/15.1.13/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/15.1.13/css/dx.light.css" />
    <!--<script type="text/javascript" src="grid.js"></script>-->
</head>
<body>
    <div id="gridContainer" style="height:450px; max-width:750px; margin: 0 auto"></div>
</body>


<div data-options="dxView : { name: 'grid', title: 'Nextech Code Assessment' } ">
    <div data-options="dxContent : { targetPlaceholder: 'content' } " class="dx-content-background">
    </div>
</div>
</html>